.dropDown {
    width: 250px
}

.add-subject-area{
  width:fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  padding: 20px 70px;
  border: 0px solid gray;
  border-radius: 10px;
}

.select-class-area{
  width:fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  margin-bottom: 10px;
}